@font-face {font-family: PixelFont; src: url(./fonts/PublicPixel-z84yD.ttf)} 

* {
    margin: 0;

  }

#hed{ 
  
    background-image: url(./imagens/wppr12.png);
    background-repeat:no-repeat;
    background-size: 100% 100%;

}

#hedson{  

    padding: 20%;
    text-align: center;
    color: white;
    font-family: PixelFont;
    font-size: 1vw;
}

#seta {
  background: center center / cover no-repeat;
  position: relative;
  left: 47.5%;
  width: 100px;
  height: 100px;
} 

#sessao2{
  
  text-align: center; 
  background-image: url(./imagens/wppr.jpg );
  color: white;
  background-repeat:no-repeat;
  background-size:100% 100%;
  font-family: PixelFont;
  font-size: 1vw;

  }



img {height: auto;width: 32%} 

#SobreMim {
 
  background-color: blue; 
  text-align: left;
  white-space: pre-wrap;
  background-image: url(./imagens/wppr25.png);
  color: white;
  background-repeat:no-repeat;
  background-size:100% 100%;
  font-family:verdana;
  font-size: 1vw;

}

#Hobbies {

  background-color: blue; 
  text-align: center;
  background-image: url(./imagens/wppr10.jpg);
  color: white;
  background-repeat:no-repeat;
  background-size:100% 100%;
  font-family: PixelFont;
  font-style: italic;
  font-size: 1vw;

}

#Fot {
  background-color: #C06175  ;
  color: white;
  text-align: center;
}

.fa:hover {
  opacity: 0.9;
}

.fa-instagram {
  color: black;
}

.fa-github {

  color: black;
}

.fa-linkedin {
  color: black;
  
}

.fa {
  padding: 20px;
  margin: 0px 20px 0px 20px;
   
}

/* Small devices */
@media(max-width:600px){
  #seta{
    width: 10px;
    height: 10px;
  }
  #hedson,#sessao2,#SobreMim,#Hobbies{
    font-size: 2vw;
  }
}

@media(max-width:800px){
  #seta{
    width: 20px;
    height: 20px;
  }
  #hedson,#sessao2,#SobreMim,#Hobbies{
    font-size: 1vw;
  }
}




/* Style the Image Used to Trigger the Modal */
.myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 20px;
  }
  
  .myImg:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (Image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation - Zoom in the Modal */
  .modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }